{% extends "base.html" %}

{% block title %}Competidores{% endblock %}

{% block content %}

<div class="page-header">

    <div class="page-left">
        <!-- ICONO PRINCIPAL COMPETIDORES -->
        <img 
            src="https://www.parqueexplora.org/_next/image?url=https%3A%2F%2Fcdn.cosmicjs.com%2F811fb0e0-fc13-11ee-bec5-7f9403a32f29-CuboRubik-Torneo-Web.jpg&w=3840&q=75"
            class="side-icon"
            alt="competitor icon">

        <h1 class="page-title">Listado de Competidores</h1>
    </div>

    <a href="/competitors/new" class="btn-box-create">➕ Crear competidor</a>
</div>


{% if competitors %}
    <thead>
    <tr>
        <th>ID</th>
        <th>Foto</th>
        <th>Nombre</th>
        <th>País</th>
        <th>Tiempo promedio</th>
        <th>Cubo</th>
        <th>Torneo</th>
        <th>Acciones</th>
    </tr>
    </thead>

    <tbody>
    {% for c in competitors %}
        <tr>
            <td>{{ c.id }}</td>
            <td>
                {% if c.image_url %}
                    <img src="{{ c.image_url }}" alt="{{ c.name }}" style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%;">
                {% else %}
                    <span>📷</span>
                {% endif %}
            </td>
            <td>{{ c.name }}</td>
            <td>{{ c.country }}</td>
            <td>{{ c.average_time }}</td>
            <td>{{ c.cube.brand if c.cube else '—' }}</td>
            <td>{{ c.tournament.name if c.tournament else '—' }}</td>

            <td class="actions">
                <a class="btn-edit" href="/competitors/{{ c.id }}/edit">✏️ Editar</a>

                <form method="post" action="/competitors/{{ c.id }}/delete"
                      onsubmit="return confirm('¿Eliminar competidor?')">
                    <button class="btn-delete" type="submit">🗑️ Eliminar</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}
<p class="empty-msg">No hay competidores registrados aún.</p>
{% endif %}

{% endblock %}
